<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Pisit Wajanasara's personal websit with resume and other information"
    />
    <meta name="author" content="Pisit Wajanasara" />

    {% block title %}
    <title>Pisit Wajanasara</title>
    {% endblock %}


    <link rel="stylesheet" href="/css/main.css">
    {% block style %}
    {% endblock %}
  </head>

  <body>
    {% block content %}
    {% endblock %}
    {% block script %}
    {% endblock %}
  </body>
</html>
