<!DOCTYPE html>

<html lang="en" class="theme-light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Pisit Wajanasara's personal websit with resume and other information"
    />
    <meta name="author" content="Pisit Wajanasara" />

    {% block title %}
    <title>Pisit Wajanasara</title>
    {% endblock %}


    {% block style %}
    <link rel="stylesheet" href="/css/main.css" media="print" onload="this.media='all'" />
    {% endblock %}
  </head>

  <body>
    {% block content %}
    {% endblock %}
    {% block script %}
    <script>
      function toggleTheme() {
        var htmlElement = document.getElementsByTagName("html")[0];
        var currentClassName = htmlElement.className;
        var newClassName = currentClassName === "theme-light" ? "theme-dark" : "theme-light";
        htmlElement.className = newClassName;
        localStorage.setItem("theme", newClassName);
      }

      function initTheme() {
        var newClassName = localStorage.getItem("theme");
        if (newClassName) {
          var htmlElement = document.getElementsByTagName("html")[0];
          htmlElement.className = newClassName;
        }
      }

      initTheme();
    </script>
    {% endblock %}
  </body>
</html>
